body{
  backgound-color: rgb(215, 215, 215);
}

.wrapper {
  width: 1200px;
  margin: 20px auto 0 auto;
  background-color: rgba(120,120,120,.3);
  border: 1px rgb(164, 164, 164) solid;
  padding: 15px 20px;
  transition:all 0.4s ease-in-out;
}
.head{
max-width:80%;
padding:20px;
}
.title,.publish,.author{
  float:left;
  width:30%;
  margin-right:10px;
}

.wrapper:hover{
  padding:5px;
  font-size:1em;
}
