body{
  backgound-color: rgb(215, 215, 215);
}

.wrapper {
  width: 1200px;
  margin: 20px auto 0 auto;
  background-color: rgba(120,120,120,.3);
  border: 1px rgb(164, 164, 164) solid;
  padding: 15px 20px;
  transition:all 0.4s ease-in-out;
}


.wrapper:hover{
  padding:5px;
  font-size:1em;
}


.pagination {
  list-style:none;
}

.pagination li{
  display:inline-block;
  padding: 5px;
  border-radius: 2px;
  animation: ease-in .2s;
}

.pagination li{
  background-color: rgb(226, 226, 226);
}

.pagination .active{
  background-color: rgb(226, 226, 226);
}
