html {
  width: 1100px;
  margin: 0 auto;
}

nav a {
  margin-left: 100px;
  margin-top: 50px;
  text-decoration: none;
  color: black;
}

.main_content {
    width: 900px;
    height: 800px;
    background-color: lightgray;
    float: left;
      }

.main_content h2 {
  margin-left: 100px;
}

.side_container {
    width: 200px;
    height: 800px;
      }

.comments {
  margin-top: 50px;
}

.main_content p {
  margin-left: 50px;
  margin-right: 50px;
}
