html {
  width: 1100px;
  margin: 0 auto;
}

h1 {
  padding-left: 300px;
}

nav a {
  margin-left: 100px;
  margin-top: 50px;
  text-decoration: none;
  color: black;
}

.main_content {
    width: 900px;
    height: 800px;
    background-color: lightgray;
    float: left;
}

.side_container {
    width: 200px;
    height: 800px;
    background-color: red;
}

.main_content h2 {
  margin-left: 250px;
  margin-bottom: 50px;
}

.main_content p.text {
  margin-left: 80px;
  margin-right: 80px;
}

.main_content p.author {
  margin-left: 80px;
  margin-right: 80px;
}

.main_content p.timestamp {
  margin-left: 80px;
  margin-right: 80px;
}

.comments {
  margin-top: 50px;
}



footer {
  margin-top: 100px;
}

footer a {
  text-decoration: none;
  color: black;
  margin-left: 100px;
}
